.search-bar-container {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 25px auto 25px 25px;
    gap: 1em;
    align-items: center;
}

#searchbar-input {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 1em;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 0 inset;
}

#searchbar-input:focus{
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0 0 0 3px;
}

.search-bar-container svg {
    width: min-content;
    fill: var(--text-black);
    cursor: pointer;
}

.search-bar-container img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--text-black);
    cursor: pointer;
}

.notif-svg:hover {
    fill: rgba(0, 0, 0, 0.77);
}